html,body{
height:100%;
}


#cont{
width:100%;

}

#thum{
width:150px;

}

.image_thum{
width:150px;
height:100px;
overflow: hidden;
box-sizing:border-box;
}

.image_thum img{
height:100px;
float:left;
}

#intro{
width:50%;
margin:0 auto;
text-align:center;
font-size:90px;

}
